.myprofile {
  display: flex;
  gap: 10px;
}

.profile {
  display: flex;
}
@media screen and (max-width: 768px) {
  .myprofile {
    flex-direction: column !important;
  }
  .profile {
    flex-direction: column !important;
  }
  .profile img {
    margin: 20px auto;
  }
}
